<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mju.hps.withme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 카메라 관련 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.nfc"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- 구글 맵 관련 -->
    <permission
        android:name="com.mju.hps.withme.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mju.hps.withme.locationapi.maps.permission.MAPS_RECEIVE" />

    <application
        android:name=".WithMeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_mine"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <service android:name=".service.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.TimeService">
            <intent-filter>
                <action android:name="com.mju.hps.withme.TimeService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.WithMeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mju.hps.withme.reciver.createUserFail" />
                <action android:name="com.mju.hps.withme.reciver.createUserSuccess" />
                <action android:name="com.mju.hps.withme.reciver.createUserError" />
            </intent-filter>
        </receiver>

        <activity android:name=".SubActivity" />
        <activity android:name=".SubActivity2" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".UserInfoEditActivity" />
        <activity android:name=".RoomCreateActivity" />

        <!-- Google Api 키 삽입 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".GoogleMapActivity" />

        <!-- 여러사진 관련 -->
        <activity
            android:name="com.yongbeam.y_photopicker.util.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.yongbeam.y_photopicker.util.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.yongbeam.y_photopicker.util.photopicker.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".RoomViewActivity"
            android:label="@string/title_activity_room_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".NfcActivity" />
        <provider
            android:name=".database.DatabaseProvider"
            android:authorities="com.mju.hps.withme"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>